// VARIABLES

$accent-color: #F13C6E;
$main-color: #fff;
$primary-color: #EFEFEF;


// RESET

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    background-color: $primary-color;
}

.btn {
    border: 2px solid;
    border-radius: 40px;
}

.btn .btn-link {
    color: $main-color;
}