.offers {
    // @include flex (row, center, center);
    width: 80%;
    position: relative;
    left: 13%;
    
    .offers__heading {
        margin: 80px 0 38px 0;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    .goods {
        @include flex(row,  start, center);
        
        .goods__item {
            background-color: $main-color;
            margin-right: 30px;
        }

        .item-img {
            padding: 25px 65px 20px;
        }

        .item-name {
            font-size: .875rem;
            padding: 30px 0 30px 20px;
            a {
                color: #333;
            }
        }
        .item-price {
            @include flex(row, center, center);
            padding: 0 88px 20px 87px;
            font-weight: 500;
            font-size: 1.3125rem;
        }
        .item-btn {
            margin: 0 63px 25px 62px;
            width: 130px;
            background-color: $accent-color;
            border-radius: 30px;
            border-color: $accent-color;
            color: $main-color;
        }
    }
}

.card {
    margin-top: 100px;
    width: 80%;
    position: relative;
    left: 11%;
    @include flex (row, space-around, center);
    
    .card-body,
    .card-body--mod {
        @include flex (row, space-evenly, center);
        justify-self: stretch;
        background-color: $accent-color;
        width: 540px;
    }
    
    .card-body--mod {
        position: relative;
        left: -33px;
    }

    .card__title {
        display: block;
        padding: 35px 65px 25px 40px;
        font-weight: 700;
        color: $main-color;
    }
    
    .card__text {
        padding: 0 186px 25px 40px;
        color: $main-color;
        line-height: 140%;
        width: 129px;
    }

    .btn-link,
    .card__input {
        width: 225px;
        padding: 10px;
        margin: 25px 90px 35px 40px;
        border-radius: 30px;
        background: $main-color;
    }

    .card__input {
        border: 0px;
    }
    
    .svg-container__img {
        width: 140px;
        margin: 36px 45px 36px 0;
    }
    
    .svg-container__img--mod {
        width: 180px;
        margin: 56px 45.3px 61px 0;
    }

    .btn-link {
        background-color: $accent-color;
        border-radius: 30px;
        border: 2px solid $main-color;
        color: $main-color;
    }
}

.card-table {
    @include flex (row, center,center);
    margin-top: 100px;
}

.card-table__item {
    padding: 35px 64px;
    background-color: $main-color;
    border: 1px solid $primary-color;
}

.footer {
    // @include flex (row, center, center);
    margin-top: 80px;
    background-color: $main-color;

    .category {
        @include flex (row, space-around, center);
        position: relative;
        left: 11%;
        width: 80%;

        .footer__heading {
            padding: 60px 0 30px 0;
            border-bottom: 1px solid $primary-color;
        }
        .footer__nav {
            font-size: .75rem;
            line-height: 28px;
            margin: 25px 0 60px 0;
            border-bottom: 1px solid $primary-color;
            a {
                color: #828282;
            }
        }
    }
}
