@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: #EFEFEF;
  color: #000;
}

.btn {
  border: 2px solid;
  border-radius: 40px;
  padding: 12px 26px 13px 27px;
  width: 170px;
}

.btn .btn-link {
  color: #fff;
}

.header {
  background-color: #fff;
}
.header .menu {
  background: #EFEFEF;
}
.header .nav {
  display: flex;
}
.header .nav__item {
  padding: 17px 1.5% 16px;
}
.header .nav__item:hover {
  text-decoration: underline;
}
.header .nav__item .nav__link {
  color: #333;
}
.header .nav--main {
  background-color: #fff;
}
.header .nav--main .nav__item {
  padding: 30px 2%;
}

.menu,
.nav--main-wrap,
.nav--main,
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #EFEFEF;
}
.sides .logo {
  gap: 20px;
}
.sides .logo__name {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #F13C6E;
  text-transform: uppercase;
}
.sides .call {
  gap: 40px;
}
.sides .call__link {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  color: #000;
  font-style: normal;
}
.sides .call__btn {
  border-color: #F13C6E;
  background-color: #fff;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img.banner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cont-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-left: 14.5%;
  color: #fff;
  position: absolute;
  z-index: 2;
}
.cont-banner-text .banner-text {
  width: 50%;
  font-size: 0.875rem;
}
.cont-banner-text .banner__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.cont-banner-text .card-btn {
  background-color: #F13C6E;
  letter-spacing: 0.7px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.875rem;
}

.offers {
  width: 80%;
  position: relative;
  left: 13%;
}
.offers .offers__heading {
  margin: 80px 0 38px 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.offers .goods {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.offers .goods .goods__item {
  background-color: #fff;
  margin-right: 30px;
}
.offers .goods .item-img {
  padding: 25px 65px 20px;
}
.offers .goods .item-name {
  font-size: 0.875rem;
  padding: 30px 0 30px 20px;
}
.offers .goods .item-name a {
  color: #333;
}
.offers .goods .item-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 88px 20px 87px;
  font-weight: 500;
  font-size: 1.3125rem;
}
.offers .goods .item-btn {
  margin: 0 63px 25px 62px;
  width: 130px;
  background-color: #F13C6E;
  border-radius: 30px;
  border-color: #F13C6E;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  width: 80%;
  position: relative;
  left: 11%;
}
.card .card-body,
.card .card-body--mod {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-self: stretch;
  background-color: #F13C6E;
  width: 540px;
}
.card .card-body--mod {
  position: relative;
  left: -33px;
}
.card .card__title {
  display: block;
  padding: 35px 65px 25px 40px;
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
}
.card .card__text {
  padding: 0 186px 25px 40px;
  color: #fff;
  line-height: 140%;
  width: 129px;
  font-size: 0.875rem;
}
.card .btn-link,
.card .card__input {
  width: 225px;
  padding: 10px;
  margin: 25px 90px 35px 40px;
  border-radius: 30px;
  background: #fff;
}
.card .card__input {
  border: 0px;
}
.card .svg-container__img {
  width: 140px;
  margin: 36px 45px 36px 0;
}
.card .svg-container__img--mod {
  width: 180px;
  margin: 56px 45.3px 61px 0;
}
.card .btn-link {
  background-color: #F13C6E;
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
}

.card-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.card-table__item {
  padding: 35px 64px;
  background-color: #fff;
  border: 1px solid #EFEFEF;
}

.category,
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer {
  margin-top: 80px;
  background-color: #fff;
}
.footer .category {
  position: relative;
  left: 11%;
  width: 80%;
  border-bottom: 1px solid #EFEFEF;
}
.footer .category .footer__heading {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #EFEFEF;
}
.footer .category .footer__nav {
  font-size: 0.75rem;
  line-height: 28px;
  margin: 25px 0 60px 0;
}
.footer .category .footer__nav a {
  color: #828282;
}
.footer .container-info {
  background-color: #EFEFEF;
  color: #828282;
  font-size: 0.75rem;
  line-height: normal;
  padding: 25px 0;
}/*# sourceMappingURL=style.css.map */